<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.5.0" targetFramework="net48" />
  <package id="KGySoft.CoreLibraries" version="9.0.0" targetFramework="net48" />
  <package id="KGySoft.Drawing" version="9.0.0" targetFramework="net48" />
  <package id="KGySoft.Drawing.Core" version="9.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>