<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="cef.redist.x64" version="120.2.7" targetFramework="net48" />
  <package id="cef.redist.x86" version="120.2.7" targetFramework="net48" />
  <package id="CefSharp.Common" version="121.3.130" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="121.3.13" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="121.3.13" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.9.0" targetFramework="net48" />
  <package id="Moq" version="4.20.70" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="3.2.2" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.2.2" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="6.9.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>