<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

	<Bundle Name="Safe Exam Browser"
            IconSourceFile="$(var.Setup.ProjectDir)Resources\Application.ico"
            Manufacturer="ETH Zurich"
            UpgradeCode="26C1045A-99CC-4479-987B-376390379441"
            Version="3.8.0">

		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication
                LicenseFile="$(var.Setup.ProjectDir)Resources\License.rtf"
                Theme="rtfLargeLicense"
                SuppressOptionsUI="yes"
                SuppressRepair="yes" />
		</BootstrapperApplication>

		<Chain>
			<PackageGroupRef Id="NetFx48Web" />

			<MsiPackage Id="SetupX64"
                        Compressed="yes"
                        InstallCondition="VersionNT64"
                        SourceFile="$(var.Setup.ProjectDir)bin\x64\Release\Setup-Release-x64.msi"
                        Vital="yes" />

			<MsiPackage Id="SetupX86"
                        Compressed="yes"
                        InstallCondition="NOT VersionNT64"
                        SourceFile="$(var.Setup.ProjectDir)bin\x86\Release\Setup-Release-x86.msi"
                        Vital="yes" />
		</Chain>
	</Bundle>
</Wix>