<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Fragment>
		<Variable Name="VisualCppMinimumVersion" Type="version" Value="14.44.35211.0" />
		<util:ProductSearch Variable="VisualCppInstalledVersionX64" UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35" Condition="VersionNT64" />
		<util:ProductSearch Variable="VisualCppInstalledVersionX86" UpgradeCode="65E5BD06-6392-3027-8C26-853107D3CF1A" Condition="NOT VersionNT64" />

		<PackageGroup Id="VisualCppRuntime">
			<ExePackage DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35211" Cache="remove" PerMachine="yes" Permanent="yes" Vital="yes" DetectCondition="VisualCppInstalledVersionX64 &gt;= VisualCppMinimumVersion" InstallCondition="VersionNT64" InstallArguments="/install /quiet /norestart" RepairArguments="/repair /quiet /norestart" UninstallArguments="/uninstall /quiet /norestart">

				<ExePackagePayload
                    Description="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35211"
                    Hash="21CE0EE54BFF57F69FAFA741025BF2F15B356405"
                    ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35211"
                    Size="25635768"
                    Version="14.44.35211.0"
                    Name="vc_redist.x64.exe"
                    DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/7ebf5fdb-36dc-4145-b0a0-90d3d5990a61/CC0FF0EB1DC3F5188AE6300FAEF32BF5BEEBA4BDD6E8E445A9184072096B713B/VC_redist.x64.exe" />
			</ExePackage>

			<ExePackage DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.44.35211" Cache="remove" PerMachine="yes" Permanent="yes" Vital="yes" DetectCondition="VisualCppInstalledVersionX86 &gt;= VisualCppMinimumVersion" InstallCondition="NOT VersionNT64" InstallArguments="/install /quiet /norestart" RepairArguments="/repair /quiet /norestart" UninstallArguments="/uninstall /quiet /norestart">

				<ExePackagePayload
                    Description="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.44.35211"
                    Hash="C2743FFC36D2AF40ADE0E370BE52D6B202874114"
                    ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.44.35211"
                    Size="13953392"
                    Version="14.44.35211.0"
                    Name="vc_redist.x86.exe"
                    DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/7ebf5fdb-36dc-4145-b0a0-90d3d5990a61/0C09F2611660441084CE0DF425C51C11E147E6447963C3690F97E0B25C55ED64/VC_redist.x86.exe" />
			</ExePackage>
		</PackageGroup>
	</Fragment>
</Wix>