<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Component Id="ShortcutComponent" Directory="StartMenuDirectory">
            <Shortcut Id="ApplicationShortcut" Name="Safe Exam Browser" Icon="ApplicationIcon" IconIndex="0" Advertise="no" Directory="ProgramMenuFolder"
                      Target="[ApplicationDirectory]\$(var.SafeExamBrowser.Runtime.TargetFileName)" WorkingDirectory="ApplicationDirectory"
                      Description="Starts the main application." />
            <Shortcut Id="ConfigurationToolShortcut" Name="SEB Configuration Tool" Icon="ConfigurationToolIcon" IconIndex="0" Advertise="no"
                      Target="[ConfigurationDirectory]\$(var.SebWindowsConfig.TargetFileName)" WorkingDirectory="ConfigurationDirectory"
                      Description="Provides options to edit configuration files for the main application." />
            <Shortcut Id="ResetUtilityShortcut" Name="SEB Reset Utility" Icon="ResetUtilityIcon" IconIndex="0" Advertise="no"
                      Target="[ResetDirectory]\$(var.SafeExamBrowser.ResetUtility.TargetFileName)" WorkingDirectory="ResetDirectory"
                      Description="Provides options to reset any changes made by the main application." />
            <RemoveFolder Id="RemoveStartMenuDirectory" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </Fragment>
</Wix>
